<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" version="1.0.0.0"
	versionCode="10">
	<name>Marc's Google Scholar Web Application</name>
	<author href="http://cmer.uoguelph.ca/">CMER and Marc Bodmer</author>
	<preference name="disable-cursor" value="true" /> 
    <feature name="http://api.phonegap.com/1.0/network"/> 
    <preference name="orientation" value="landscape" /> 
    <access subdomains="true" uri="http://scholar.google.ca" /> 
    <access subdomains="true" uri="*" /> 
    <icon src="images/icon.png" /> 
    <content src="index.html" /> 

</widget>
